a.chapterLink:link,
a.chapterLink:visited, 
a.chapterLink:hover,
a.chapterLink:active {
        text-decoration: none;
        color: grey;
    }
.chapterLink {
    background-color: rgb(243, 255, 238);
  
    margin:  2em 3em 1em 2em;
    padding: 2em 3em 1em 2em;
}

.comment {
    background-color: rgb(255, 255, 255);
    min-width: auto;
    margin:  2em;
    padding: 1em;
    border-radius: 2em;
     display:inline-block;
}

.float-left {
    float: left;
    min-width: auto;
    border-radius: 2em;
}

.float-right {
    float: right;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}