<div class="container-fluid container-padding cloak-flicker">
  <div class="row">
    <div class="content-panel panel-default">
      <h1>Prose</h1>

      <p>
        In the future I will add a list of Stories, treatments, and fan fiction.
      
        So far there isn't much here, just a serial fan fiction based on Star Citizen.
        </p>

   

          
              <a class="nav-link" [routerLink]="['/chapter']">Interplanetary Correspondent Danica Star</a>
      
       



    </div>

    <!-- "Other arrangements could be devised according to the tastes or views of those who like allegory or topical reference. But
                                I cordially dislike allegory in all its manifestations, and always have done so since I grew old and wary enough to detect
                                its presence. I much prefer history, true or feigned, with its varied applicability to the thought and experience of readers.
                                I think that many confuse 'applicability' with 'allegory'; but the one resides in the freedom of the reader, and the other
                                in the purposed domination of the author." -->
    <blockquote class="content-panel blockquote blockquote-reverse blue quote">
      <i class="fa fa-quote-left" style="color:rgba(0, 0, 0, 0.363)" aria-hidden="true"></i>


      <p class="FirstLetter pad-left">
        I much prefer history, true or feigned, with its varied applicability to the thought and experience of readers. I think that
        many confuse 'applicability' with 'allegory'; but the one resides in the freedom of the reader, and the other in
        the purposed domination of the author.

        <i class="fa fa-quote-right float-right" style="color:rgba(0, 0, 0, 0.363)" aria-hidden="true"></i>
      </p>
      <br />
      <footer class="blockquote-footer text-right">JRR Tolkien
        <cite title="Source Title">(1966). "Foreward to the Second Edition", The Lord Of The Rings</cite>
      </footer>
    </blockquote>
  </div>
</div>