<div class="serialform">
  <form [formGroup]="form">
    <div class="serialform__title">
      <label for="">
        <h3>title</h3>
        <input type="text" placeholder="Title" formControlName="title">
        <div class="error" *ngIf="required">
          This feild is required
        </div>
      </label>
    </div>
    <div class="serialform__description">
      <h3>Description</h3>
      <input type="text" placeholder="Serial content here" formControlName="description">
      <div class="error" *ngIf="required">
        This feild is required
      </div>
    </div>
    <div class="serialform__body">
      <h3>Body</h3>
      <textarea type="text" placeholder="Serial content here" formControlName="body" [froalaEditor]></textarea>
      <div class="error" *ngIf="required">
        This feild is required
      </div>

    </div>
    <button class="serialform__add" type="button" *ngIf="!exists" (click)="createSerial()">
      New Story
    </button>
    <button class="serialform__add" type="button" *ngIf="exists" (click)="updateSerial()">
      Update story
    </button>
    <a href="" class="serialform__cancel" [routerLink]="['/serial']">
      Cancel
    </a>
    <div class="serial-form__delete" *ngIf="exists">
      <div *ngIf="toggled">
        <p>Delete Serial</p>
        <button class="confirm" type="button" (click)="removeSerial()">Yes</button>
        <button class="cancel" type="button" (click)="toggle()">No</button>
      </div>
      <button class="button button--delete" type="button" (click)="toggle()" *ngIf="!toggled">
        Delete?
      </button>
    </div>
  </form>
</div>