<div class="container-fluid">






    <div class="story-panel story panel-margin">
        <span class="returnChapter">
            <a class="return" [routerLink]="['/chapter']">Back to Chapter list</a>
        </span>
        <h1 class="chapter">Chapter I</h1>
        <h4 class="chapterTitle"> Tell Me You Got That Shot</h4>
        <hr>
  
        <div class="indent">
                    Danica taps away on a machine trying to squeeze truth out of the complex electronics like sap from a giant maple, but not
                    any sort of absolute truth. She seeks the inner truth felt by all sentient beings of a given demographic, in a particular
                    range of income, that would make the story easy to sell to the Networks. Each twitch of her delicately manicured fingers,
                    her augmented ageless dermis, perfect hair, all ready in case she needs to go in front of a camera. 
        </div>
        <div class="indent">
                    She flicks her wrist on the controls and the footage scrolls by. The scene flickers in and out of focus, she tries toggles
                    the three dimensional playback, centralized VR, holographic, then she stops. Her bored expression changing to one of sheer
                    delight. She restarts the footage.
        </div>
        <div class="indent">
                    A holographic child standing in front of a flaming building flickers from the monitor. The wind whips her hair as she stands
                    with that stare, the stare that focuses across a light year. The shot was amazing. There behind her was a flag, tattered,
                    scorched, a death shroud draped over a wrecked ship. A prominent four pronged spear pointing at three stars flickers in the
                    failing light of dusk. Once a banner to rally the righteous, but what is it now? Danica gets lost in the a thought forking
                    in a thousand directions. She shakes it off and marvels at the footage. “This was no raid, there is real power behind this,”
                    Danica says to herself. Walter will win the Terran Herald for this footage. She looks around trying to figure out where she
                    is, the back of a ship, her ship, her news van. She raises her eyebrows, this is exactly why she never drives.
        </div>
        <div class="indent">
                    “I’ve got it, get in here,” she commands while simultaneously checking her appearance in the reflection of a nearby mirror
                    mounted as if it were a monitor.
        </div>
        <div class="indent">
                    “I can’t,” Walter’s voice cracks over the com. While the ship was not large, the back control room was so isolated that you
                    could be going through a type 4 jump point and not even notice.
        </div>
        <div class="indent">
                    “Get in here Jellyfish, now!” She rewinds the footage, again the young girl, dirty white clothes, bloody, dazed walks through
                    a scene of devastation. The flag fluttering on the ground. Danica gets lost again.
        </div>
            
    </div>

    <div class="story-panel story panel-margin">
        <div class="indent">
            Walter looks around, the cockpit design gave a full view, thrust into the void, look straight up and you see stars, left,
            right, between your feet, only stars. He notices a glare then realizes the local star was aft. He was vectored toward a jump
            point that would be their escape from the madness and danger. Walter smirks at his half fish bowl and that he must be the
            fish, “in a spaceship, spacebowl? Fishspace?” he grins. The view in this ship was superb, but Walter still didn’t like the
            idea of leaving the cockpit. He disengages the drives, tries to make his trajectory as neutral as possible, and sees not
            a ship, rock, or planet for what was probably a millions kilometers.

        </div>



        <div class="indent">
                He pulls the configuration lever. The ship slides from a vertical configuration to into a the horizontal, the single wing
                blends into the cockpit and swivels around a rear tapered bay, bringing Walters cockpit seat alongside the one that was previously
                below. The change brings the access door to the rear into view. He door opens and pulls his way to the back of the ship in
                microgravity.
        </div>
            <div class="indent">
                 “I think we should go back.” Walter puts his fist on the bulkhead and bites his lip, “We could take on, maybe a dozen survivors.”

            </div>
          
            <div class="indent">
                “And get shot down in that mess?”
            </div>

            <div class="indent">
                 He sees Danica still editing the footage, and gapes when he sees what she’s doing.
            </div>
            <div class="indent">
                    “What are you doing? That won’t work.”
            </div>

            <div class="indent">
             “Of course it will, the framing is perfect.”
            </div>
            <div class="indent">
                 “Framing? Framing, I got a pure multidimensional shot, with all subjects in the proper orientation and you cut it down to
                a window.” Walter throws up his arms.
            </div>
            <div class="indent">
                “Shut up Walter, I need you to open up a feed to the station, I want to upload this before we miss the news.”
            </div>
            <div class="indent">
             “Make the news?”
            </div>
            <div class="indent">
             “Yes, make the sector news and if possible all the way to Earth.”
            </div>
            <div class="indent">
             “Dani this is a long form, there is no way the network will pick it up.”
            </div>
        <img src="..\..\..\assets\images\prose\danica-star\1.jpg" alt="" class="float-left" ng-model="items[0]" ng-click="light.open()">
    </div>

    <div class="story-panel story panel-margin">

            <div class="indent">
             “I’ve already made the adjustments, were going to go live here.” Danica turns and pulls down a computer station and powers it up.

            </div>
            <div class="indent">
                 “I’ve seen the footage too Dani, I don’t think this is live material. Dead and missing refugees won’t sell. We need to get
                some combat footage.” The words die in his throat.
            </div>
            <div class="indent">
                “That’s not your problem.” Dani half listens to Walter as a holographic image appears from the system she powered up. The
                image appears to be the solar system.
            </div>
            <div class="indent">
                 Walter pulls himself over to the transmitter and fires it up, a humming motor tells him the antenna is extending, and he
                starts to see connection logs stream by on the screen. He sees the final authorization, then a warning, “System Emergency
                data given top priority, all other traffic will be limited.”
            </div>

            <div class="indent">
                 “We have a problem.”
            </div>
            <div class="indent">
                 Walter sees Danica tap on a round keyboard, she pushes it out of sight and looks back at him, but she doesn’t seem to see
                him.
            </div>
            <div class="indent">
                 “Dani, the EBS is shutting down local transmissions, we’ll need to get to a jump point to send  data.”
            </div>
            <div class="indent">
             “Get in the pilot seat.” Dani turns and reaches into the mess of wires and flicks a switch. Walter about to say something
            watches the holographic display change to a navigational chart, it zooms out several times as Danica clicks a few keys and
            he sees a red flashing spot appear.
            </div>
            <div class="indent">
             “What is that?”
            </div>
            <div class="indent">
             “Walter, get in the pilot seat” He knows that voice. The cold calm of a woman about to get them into serious danger.
            </div>
            <div class="indent">
             Walter puts his foot against the bulkhead, kicking off toward the front and pulls himself back into the cockpit. He flips
            on the navigation as he straps in and sees a new waypoint.
            </div>
            <div class="indent">
             “Warp us there as fast as you can.” Danica’s voice squawks through the com.
            </div>
        <img src="..\..\..\assets\images\prose\danica-star\2.jpg" alt="" class="float-right" ng-click="light.open()">
</div>
<div class="story-panel story panel-margin">
            <div class="indent">
             “Okay, okay,” Walter climbs into the pilot seat frantically throwing switches. The back hatch snaps shut and the cockpit
            rotates to a horizontal layout. The hud flickers on showing a blip, he lines it up, and engages the Quantum drive. The ship
            warps slightly in the direction of travel, then snaps back. Walter exhales, realizing he was holding his breath. “We’ll be
            there in less than ten minutes.”
            </div>
            <div class="indent">
             “Dammit, it’ll all be over in two, make sure the cameras are ready.”
            </div>
            <div class="indent">
             “They all check out, all green and ready to record.”
            </div>
            <div class="indent">
             “Start recording now.”
            </div>
            <div class="indent">
             “Now?” Walter rolls his eyes.
            </div>
            <div class="indent">
             “Yes now Jellyfish and as soon as we’re out of warp get back here and establish an uplink.”
            </div>
            <div class="indent">
             “But I already told you…”
            </div>
            <div class="indent">
             “Do what I say and we might live through this.”
            </div>
            <div class="indent">
             Walter rolls his eyes and pulls up the cameras to double check the status.
            </div>
            <div class="indent">
             The ship comes out of Warp and Walter begins dodging debris. At first he tries to slow his speed, but the debris
            field seems to be moving in all directions, like they flew into a gigantic explosion. The ship is struck multiple times.
            </div>
            <div class="indent">
             “I can’t fly through this.”
            </div>
            <div class="indent">
             “Follow this beacon.” Danica’s voice cracks over the com. He looks down at the dash. The display shows a haze flickering
            in the holographic display that doesn’t match what he’s seeing outside. He turns the ship toward the signal. The debris seems
            to clear and he sees the source. A damaged UEE fighter.
            </div>
            <div class="indent">
             “Where in the hell, what now?” Danica doesn’t answer, he flips over to ship to ship.
            </div>
            <div class="indent">
             “This is vessel KTRK-40 Terra, we are responding to your distress call.” He repeats the call and sees a lot of interference,
            jamming maybe?
            </div>
    <img src="..\..\..\assets\images\prose\danica-star\3.jpg" alt="" class="float-left" ng-model="items[2]" ng-click="light.open()">
</div>
    
<div class="story-panel story panel-margin">

            <div class="indent">
                “Civilian craft are barred from navigating this area,” the voice, at first, is straight military, but Walter almost drifts
                into the fighter.
            </div>
            <div class="indent">
             “What the hell are you doing? One more meter and you’re going to find out how well your tin can MISC ship handles forty
            millimeter shells.” Walter puts up his hands. He’s so close to the fighter he forgets for a moment he’s in another ship.
            </div>
            <div class="indent">
             “Hey, we’re just here to help.” He tries to back off using his knees.
            </div>
            <div class="indent">
             “Shit, is that a camera, I’ll give you ten seconds to get that thing out of my face.” Walter thinks he sees laser sites
            dot his ship and cockpit.
            </div>
            <div class="indent">
             “Keep talking to him.” Dani’s smooth voice comes over the com, her voice was garbled from jamming as well.
            </div>
            <div class="indent">
             “Hey man it’s off, I swear I was just responding to your distress call.” Walter glances up as he’s talking and sees the
            pilot name on the side. He flips the view over so Danica can see. “Damn what carrier are you based off of? That’s a serious
            ship your in.”
            </div>
            <div class="indent">
             “I don’t need help from you. And if I see a camera drone come out I’ll shoot it down.” The same voice replies with the sort
            of vitriol Walter was used to hearing.
            </div>
            <div class="indent">
             Walter looks around at the devastation, this is clearly a battlefield, and he gets a feeling. He takes in a breath to reply
            and sputters when he sees the rear airlock open. He flips the wing camera around and sees Dani EVA with an emergency grapple.
            She fires it before he can say anything. The magnetic claw snaps onto the fighter.
            </div>
            <div class="indent">
             “God dammit Dani I had the perfect idea!” Walter yells as the ship lurches around from the winch pulling the fighter toward them and causing their
            ship to spin around.
            </div>
            <div class="indent">
             “I apologize. I was ready to fuck off, but my boss has other plans.” He says pulling the camera
            controls over. He sets the fighter as a target and lets the computer handle the capture. He takes off his headset, the fighter
            pilots angry reply almost audible to him. He stops for a moment, there appear to be no holes in the ship, he curves one eyebrow
            in interest.
            </div>
    <img src="..\..\..\assets\images\prose\danica-star\4.jpg" alt="" class="float-left" ng-model="items[3]" ng-click="light.open()">
</div>

<div class="story-panel story panel-margin">
            
            <div class="indent">
             He pulls himself behind the pilot seats and puts on his helmet, checks his O2, and flips the headset over to the ship. He
            looks the the hatch window, the rear door was still open, the grapple cable stretching into the black.

            </div>
            <div class="indent">
             “Jelly, goddammit, respond.”
            </div>
            <div class="indent">
             “I was putting on my helmet, cameras are still up and running.”
            </div>
            <div class="indent">
             “Get a drone out and capture this debris field. I want as much footage as we can squeeze into these databanks”
            </div>
            <div class="indent">
             “May I ask why you are antagonizing a man, who may actually need help?” He listens to the background static and rolls his eyes.

            </div>
            <div class="indent">
             He reaches over, pulls the drone panel out and sets it to a good spot to his left. He taps the status, power, lens types,
            picks three, and launches them. He watches as they start to map and record the debris field. His mouth slowly drops open
            as he gazes at the beauty of perpetual drifting debris. Like it would go on forever.

            </div>
            <div class="indent">
             A series of rattling noises snaps his daydream, something was hitting the ship.
            </div>
            <div class="indent">
             “Well maybe not that angry.” Dani says over the comm. “Jelly could you inform the UEE pilot that we in fact have
            no weapons on board.”
            </div>
            <div class="indent">
             Walter looks back at the comm panel and sees another com channel blinking. He flips it on.
            </div>
            <div class="indent">
             “... fine, if you wanna help, I’ll strip your ship of every usable part I can find and leave you here.”
            </div>
            <div class="indent">
             Walter looks around at the ship graveyard, the panels looked clear, and the drones still going. He depressurizes
            the front cabin and opens the back hatch. The UEE pilot holds Dani's arm with his right hand while pointing a rifle at her with his left.
            </div>
            <div class="indent">
             Walter holds up his hands and slowly lets his body turn in place, “I’m not armed.”
            </div>
            <div class="indent">
             “Are you happy now commander?” Dani says, her smirk clearly audible over the comm.
            </div>
    <img src="..\..\..\assets\images\prose\danica-star\5.jpg" alt="" class="float-left" ng-model="items[4]" ng-click="light.open()">
</div>

<div class="story-panel story panel-margin">

            <div class="indent">
             “I told you already I am not a commander, I am Lieutenant Bullard…” Bullard says loudly at first, then calms his voice.
            </div>
            <div class="indent">
             Walter tries to place the accent, but he can’t quite nail it down. 
            </div>
            <div class="indent">
             “We shouldn’t be exposing these instruments to a vacuum. We need to close the back hatch.”
            </div>
            <div class="indent">
             Bullard pushes Dani in using his fancy flight suit thrusters.
            </div>
            <div class="indent">
             “Any day now Walter.” Dani’s lays on a thick layer of sarcasm. Walter quickly closes the hatch. The ship begins to pressurize.
            </div>
            <div class="indent">
             “So you’re not a commander, commander, so what outfit are you in?” Dani says in a soft silky voice. Walter rolls his eyes.
            She was like a bird of prey, that would attack in all conceivable ways until she achieved her objective.
            </div>
            <div class="indent">
             “I’m not allowed to divulge that information.” Bullard says.
            </div>
            <div class="indent">
             “Just making conversation baby. Jelly maybe we should get some food out. Are you hungry?” Dani takes off her helmet and
            lets her hair rise up in the microgravity. Walter new this routine. Her hair was carefully prepared to not look like a matted
            mess in zero G and after Walter pulls off his own helmet he smells a sweet spring like scent.

            </div>
            <div class="indent">
             “Sure.” Bullar answers distracted by the elaborate equipment crammed into the back of the ship.
            </div>
            <div class="indent">
             Walter smirks pulling himself over to the food bin. They really didn’t have anything to eat. If they were marooned for any
            reason they would easily starve in days. He pulls out a few bars of something he didn’t bother to read and floats them to
            Bullard.
            </div>
            <div class="indent">
             Bullard was holding his helmet and still looking around. He catches the bars, but doesn’t eat them.
            </div>
            <div class="indent">
             “So you’re reporters?”
            </div>
            <div class="indent">
             “I’m a reporter baby, Jelly is just a pilot and camera boy.” This would normally cause Walter to call Dani a bitch, but
            this was far too entertaining.
            </div>
    <img src="..\..\..\assets\images\prose\danica-star\6.jpg" alt="" class="float-left" ng-model="items[5]" ng-click="light.open()">
</div>

<div class="story-panel story panel-margin">

            <div class="indent">
             “Is this a war zone.” Walter sputters.
            </div>
            <div class="indent">
             A light starts flashing on a nearby panel. Walter reaches out and taps the warning, the message log shows active radar sweeping
            the area. He scrambles around, pulling himself into the front. Once in the cockpit he reaches to turn on the radar. A hand
            out of nowhere grabs his wrist and inch from touching the switch, Bullard’s. Dani floats in behind him.
            </div>
            <div class="indent">
             “Whatever you do, don’t turn your radar on.” Walter looks at Bullard, his face was pale. He turns the pad so he can see
            it and carefully sets the radar to passive. The HUD shows a half a dozen radar pings off in the distance. Dani pushes off
            toward the back. Bullard looks around.

            </div>
            <div class="indent">
             “Do you have anything else transmitting?” He says this in a strong, but calm voice. Walter frantically starts turning systems
            off and the lights. He sees the drones capturing footage and leaves them in a passive state and tells one to monitor them
            from a distance. He powers the long range transmitter down, but luckily it was broadcasting a beam in the opposite direction.
            “Everything's off, Dani!” The cockpit goes dark except for a few panels.
            </div>
            <div class="indent">
             “Everything's off back here too.” She yells back.
            </div>
            <div class="indent">
             “So those radar sources.” Walter points to them, there were only three now, and they showed only as a drifting dot. “How
            do you know…?”
            </div>
            <div class="indent">
             “That those are bad guys?” Bullard taps a setting on the pad, a radar frequency graph starts showing each source.
            </div>
            <div class="indent">
             “That is not a search pattern you would see from any UEE craft. In fact, can you record this?”
            </div>
            <div class="indent">
             “Um, maybe, I don’t, oh, wait.” Walter pulls out a recording device and attaches it to the screen. “This won’t give you
            data, but it will at least show you the image.”
            </div>
            <div class="indent">
             “Reduce your life support as much as possible.” Bullard says. Walter gets up and opens the life support panel and turns
            it down. “Our scrubbers can handle three of us for about a week.”
            </div>
            <div class="indent">
             Bullard laughs out loud. “My man, I say our odds are ten to one we last the next minute.”
            </div>
    <img src="..\..\..\assets\images\prose\danica-star\7.jpg" alt="" class="float-left" ng-model="items[6]" ng-click="light.open()">
</div>

<div class="story-panel story panel-margin">

            <div class="indent">
             “I’ll take that bet!” Dani’s chimes in.
            </div>
            <div class="indent">
             Bullard and Walter turn. A faint light lit Dani and the editing station. She had a small single monitor on and typing at
            full speed, the rat tat tat coming from a very odd keyboard. Bullard pulls himself to the back and Walter follows.
            </div>
            <div class="indent">
             Walter gapes, there it was, this was Dani’s secret. The reason she wouldn’t let Walter snoop around her equipment. They must be in some
             serious trouble.
            </div>
            <div class="indent">
             “Where did you get that?” Bullard says suddenly alarmed. Walter looks at the keyboard, the keys looked way off to be used
            by a human hand, but Dani had no issue.
            </div>
            <div class="indent">
             “What outfit are you with?” She stops and turns her head careful to flip her hair around. Walter never once witnessed Dani
            honestly seduce a man or woman. The whole thing was a calculated act that made Walter uncomfortable, but the pay was too
            good to quit. The act, was always for the story.
            </div>
            <div class="indent">
             “I’m not going to tell you anything about my outfit.” Bullard acts as if he were being interrogated by the enemy. Dani to
            a lot of military personnel was the enemy. Walter felt relief that this soldier didn’t want to put a bullet in her head.
            </div>
            <div class="indent">
             “Oh she already knows.” Walter, playing his part, says seeing right through the sultry exterior Dani had on display. He just realized she took
            the top of her space suit off and wrapped it around her waist leaving a skimpy t-shirt on.
            </div>
            <div class="indent">
             Bullard wasn’t fazed and Walter was getting bored with this.
            </div>
            <div class="indent">
             “What do you mean she already knows?” Bullard turns to Walter with his rifle.
            </div>
            <div class="indent">
             “Wait.” Walter puts up his hand.
            </div>
            <div class="indent">
             “What is it Jelly?” Dani asks, but doesn’t want an answer, she’s already typing away.
            </div>
            <div class="indent">
             “We survived a minute.” Walter glances at his watch. Bullard shakes his head.
            </div>
            <div class="indent">
             “What the hell language are you typing that novel in.” Walter looks at the screen. The language looks like a mishmash of
            alien languages, shorthand?
            </div>
            <div class="indent">
             “So what outfit am I from?” Bullard asks.
            </div>
    <img src="..\..\..\assets\images\prose\danica-star\8.jpg" alt="" class="float-left" ng-model="items[7]" ng-click="light.open()">
</div>

<div class="story-panel story panel-margin">

            <div class="indent">
             “Well the only carrier in the system would be the old P One G. I hope that’s not what this field is made up of.”
            </div>
            <div class="indent">
             Bullard drifts forward and looks out the front. “No, I’m pretty sure they jumped out.”
            </div>
            <div class="indent">
             “Oh that’s not surprising, Conrad always turns tail when the fight is more than he can…” Dani stops when a loud clicking
            noise strike, a round being chambered into a rifle. Bullard pointing it at Dani. She stops typing and doesn’t move.
            </div>
            <div class="indent">
             “I should have killed you the moment I knew.” Bullard looks down the site at Dani.
            </div>
            <div class="indent">
             “Kill us now and you won’t have anyone to assist you.” Dani says.
            </div>
            <div class="indent">
             “You think I need assistance from the likes of you?”
            </div>
            <div class="indent">
             Dani slowly turns with her hands up and looks at him, “You’re Lieutenant Jacques Bullard, first in your class from Terran
            Naval academy, 2940. You served on Essex stationed in Davien, and I’m guessing that’s when you met Conrad.”
            </div>
            <div class="indent">
             “That is Captain Rhadamanthys.”
            </div>
            <div class="indent">
             “He recruited you for his new assignment. He was to take a Pegasus class carrier and patrol the Nyx to Oberon stretch.”
            Without looking, She taps a screen nearby and it turns on.
            </div>
            <div class="indent">
             “I got your distress call, coded, very difficult to detect and meant for military contact, not a reporter. I had your ship
            SID, I ran it and figured out who you were.”
            </div>
            <div class="indent">
             “You can get coded signals?” Bullard asks disbelieving.
            </div>
            <div class="indent">
                 “I can get part of the message, SIDs and locations. Not the message itself.”
            </div>
            <div class="indent">
             Bullard looks around in alarm.
            </div>
            <div class="indent">
             An alarm from the front causes everyone to jump. Walter moves to the front so fast he passes the pilot seat and hits the
            curved window. Bullard grasps onto a handrail by the hatch and reaches out to Walter, helping pull him to the seat. They
            didn’t need to read the alarm, they could see a large vessel approaching the debris. The claw like silhouette was unmistakably
            Vanduul, searchlights scan the field as it moves through. Arms periodically reaching out and pulling in debris.
            </div>
    <img src="..\..\..\assets\images\prose\danica-star\9.jpg" alt="" class="float-left" ng-model="items[8]" ng-click="light.open()">
</div>

<div class="story-panel story panel-margin">

            <div class="indent">
             “We can’t let them do this.” Bullard says looking out the window.
            </div>
            <div class="indent">
             “We better hope they don’t find us as salvage.”
            </div>
            <div class="indent">
             “No you don’t understand. There are vital things in this field, things I need to salvage.”
            </div>
            <div class="indent">
             “You came alone? Didn’t you?” Dani yells so Bullard can hear, but he doesn’t answer.
            </div>
            <div class="indent">
             Walter looks at the scanner, he doesn’t see anything.
            </div>
            <div class="indent">
             “Lieutenant?” Walter says. Bullard comes over and checks the scanner settings.
            </div>
            <div class="indent">
             “Do you have any other scanning equipment on board?” Bullard asks. Walter shakes his head.

            </div>
            <div class="indent">
             “It would be for the best.” Bullard looks at Walter as he mutters.
            </div>
            <div class="indent">
             She reaches over and turns something on. A black tentacle like appendage reaches out from under the console. Walter and
            Bullard react, Walter ducks off to the side, while Bullard aims his rifle again.
            </div>
            <div class="indent">
             “But what we really need is some cover, something that looks natural.” The appendage has a interface at it’s tip, Dani starts to sort of massage it. A
            humming noise starts up. Walter and Bullard turn around to see a haze begin to surround the ship.
            </div>
            <div class="indent">
             “They won’t see us in this.” She floats into the cockpit looking out. Bullard and Walter look out. The ship seems to be
            engulfed in a black mist.
            </div>
            <div class="indent">
             “Now Lieutenant, would you like to give me a story or not?” Bullard looks at her with a furrowed brow. Walter looks at Dani
            trying to read her actions.

            </div>
            <div class="indent">
             “If not. I would like you to leave my ship, I’ll give you some supplies and a power pack, and send you on your way.” Dani
            says matter of fact, while pulling her space suit back on. Walter feels sick, he wants to stop her, tell her no you can’t
            just throw someone out like that, but nothing comes out of his mouth.
            </div>
            <div class="indent">
             “Jellyfish, don’t just stand there. Get everything back online and the drones.”
            </div>
            <div class="indent">
             “You have drones?” Bullard asks trying to recover.
            </div>
    <img src="..\..\..\assets\images\prose\danica-star\10.jpg" alt="" class="float-left" ng-model="items[9]" ng-click="light.open()">
</div>

<div class="story-panel story panel-margin">

            <div class="indent">
             “Camera, they’re on automatic mapping the area. I suspect one is following that ship.” He looks, but the haze blocks his
            view.
            </div>
            <div class="indent">
             “Well Lieutenant I really appreciate you stopping by, but we really must get back to work.” Dani heads for the terminal
            again and pulls the round keyboard up.
            </div>
            <div class="indent">
             “What do you want.” Bullard’s mumble hardly audible.
            </div>
            <div class="indent">
             “I’m sorry dear what was that.” She zips her suit up and reaches for her helmet.
            </div>
            <div class="indent">
             “What is it you want to know.” He says. Walter looks at Bullard floating lamely nearby, defeated.
            </div>
            <div class="indent">
             “Now, was that so hard to say?” Dani doesn’t break her typing stride.
            </div>
            <div class="indent">
             An alarm goes off in the front cabin. Walter looks at the alarm and reads. “Collision?” Suddenly out of the haze a mutli
            fingered metal arm swoops in and grasps the ship. A loud crunching sound comes from the top. “Dani get your goddamn helmet
            back on!” Walter yells into the back. He glances back seeing Dani reaching for her helmet, when the ship lurches. He’s slammed
            into the floor and almost knocked out.
            </div>
            <div class="indent">
             Sparks start to shoot out of every panel in the cockpit. Walter pulls himself toward the main panel, hits the emergency
            button and pulls the main breaker. The sparks cease, but it wasn’t soon enough to prevent all hatches and locks from opening.
            He grips the bottom of the pilot’s seat to prevent himself being pulled into space.
            </div>
            <div class="indent">
             After the whoosh of air, followed by silence broken only by his breathing, he looks into the back. Just then a light shines
            into the high visibility cockpit. He frantically pulls himself out of view. He looks around to see Dani still typing away.
            Her helmet looks like it was barely on, but she managed not to be pulled out the back when the bay opened up. Walters eye’s
            were still adjusting to the light, but he has a feeling that Bullard was no longer on the ship. He was in his spacesuit,
            a lot better one than Walter had, and he had space combat training. He will be alright.
            </div>
            <div class="indent">
             Walter pulls himself over to Dani and tries to avoid being seen. They had no place to hide. He puts a hand on Dani’s shoulder.
            She was typing. He could hear the typing sound resonate through her suit into his. She doesn’t respond.
            </div>
            
            <div class="indent">
             “This is insane Dani. Is the story really more important than our lives.” He knows she can’t hear him and even if they were
            in a nice quiet room it wouldn’t matter. She would ignore him, but now she turns. He can barely make out her frightened face.
            He could see her hand on a long breaker arm. This was all her equipment connected to its own power source. Her features became
            clearer in the semi darkness and Walter could see the fear, but also a resolve. His mouth drops open looking back at the
            breaker.
            </div>
            <div class="indent">
             Walter takes a deep breath pushing back the swelling wave of sorrow. This meant their deaths. He gathers all of his strength
            and nods his head. He feels his hand being grasped by Dani. A sweet gesture, then he realizes she’s pulling his hand up to
            the breaker. Together they pull.
            </div>
            <div class="indent">
             The back of the ship springs to alive. Life unlike that of a human ship. There were organic tentacles pulsating with energy
            reaching to the top of the ship. One tentacle has a wire harness at the end and jabs itself into the array’s maintenance
            port. Now the ship is alive as well, powered by it’s distant organic cousin.
            </div>
            <div class="indent">
             Dani was sending it all, unedited, no touch up, no makeup. He had no idea she was this brave. He looks at the transmission
              and see the first sentence, short and to the point. We Are At War. He feels a lump in his throat.
            </div>
            <div class="indent">
             The ship moves wildly to port. Walter and Dani are thrown against the opposite bulkhead. He grabs onto Dani holding tight.
            They bounce into a cargo net that popped out of its cargo container and fall halfway out of the ship.

            </div>
            <div class="indent">
             Walter sees streaks of light cutting through the ship. The cargo net comes loose and they float away from the ship, helpless,
            watching the ship get torn apart by the giant Vanduul fang of a ship. The light goes out in the back and the transmission
            array floats off in pieces.
            </div>
            <div class="indent">
             He feels Dani grip his arm. He looks at her, then notices she’s pointing. She was yelling something, he hears her muffled
            voice through her hands gripping his suit. Was she panicking? No she was asking something. Where?
            </div>
            <div class="indent">
             Walter looks at their dead ship and toward the back he follows a cord that hangs limp in space connected to nothing.
            </div>
            <div class="indent">
             A spotlight shines on them. They see it closing, For a moment Walter thinks they are firing at them, but the rounds
            were coming from the wrong angle. A bright flash, and explosion, debris hitting them rattling against their spacesuits.
            </div>
            <div class="indent">
             The Vanduul ship flies away. Walter follows its progress then notices a pursuer. Too small to be a ship, it was one of their
            drones. Walter laughs out a tear. “Go you little bastard, someone is going to find the best combat footage ever!”

            </div>
            <div class="indent">
             Walter could tell it was hard to breath. The suit was starting to constrict against his body, it was cold, very cold. Dani’s
            grip on his arm was growing soft. He looks again for his drone. He finds it, still chasing the Vanduul ship. But there was
            something else. A bright light, it was a missile, and as the Vanduul ship tries to dodge he sees an explosion ripping through
            the Vanduul. The wounded ship spins for a few seconds then explodes in a spectacular display.
            </div>
            <div class="indent">
             “You got that you little piece of shit! You got that shot!” Walter passes out.

            </div>
    <img src="..\..\..\assets\images\prose\danica-star\TheEnd.jpg" alt="" class="end" ng-model="items[10]" ng-click="light.open()">
    </div>
</div>




<!-- <script type="text/ng-template" class="" id="modalimg.html">
    <div>
        <img src="..\..\..\assets\images\prose\danica-star\TheEnd.jpg" alt="" ng-click="light.close()" class="img-lightBox-1">
  </div>
</script> -->