<div class="list-item">
  <a [routerLink]="getRoute(item)">
    <p class="list-item__title">{{ item.title }}</p>
  </a>
  <p class="list-item__description">{{ item.description }}</p>
  <div class="list-item__delete" *ngIf="toggled">
    <p>Delete Group</p>
    <button class="confirm" type="button" (click)="removeItem(item)">Yes</button>
    <button class="cancel" type="button" (click)="toggle()">No</button>
  </div>
  <button class="trash" type="button" (click)="toggle()" *ngIf="!toggled">
    <img src="assets/images/ui/trash.svg">
  </button>
</div>
