<div class="topbar">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">
        <img src="/assets/brand/r_logo.svg" alt="" class="logo">
    </a>
    <div class="btn-group" dropdown>

        <button 
                dropdownToggle class="navbar-toggler navbar-toggler-right" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
            <i class="fa fa-angle-double-down"></i>
        </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right ui inverted vertical menu" role="menu">
                        <li class="nav-item" routerLinkActive="active item" [routerLinkActiveOptions]="{exact:true}">
                            <a class="nav-link" routerLink="prose">Prose</a>
                        </li>
            </ul>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav content-nav-panel">

            <li class="nav-item"  routerLinkActive="active item" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="prose">Prose</a>
            </li>
            <li class="nav-item" routerLinkActive="active item" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="register">Register</a>
            </li>
            <li class="nav-item" routerLinkActive="active item" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="login">Login</a>
            </li>
            
            <li class="nav-item" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="addStory">Add Story</a>
            </li>

        </ul>
      </div>
   
    </div>

            <a routerLink="blog" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">Blog</a>
            <a routerLink="/plays" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Plays</a>
            <a routerLink="prose" routerLinkActive="active">Prose</a>
            <a routerLink="screenplays" routerLinkActive="active">Screenplays</a>
            <a routerLink="serial" routerLinkActive="active">Serial</a>
            <a routerLink="edit" routerLinkActive="active">Edit</a>



</nav>
</div>