.blogform {
    font-family: 'Courier New', Courier, monospace;
    .title h3 {
        font-synthesis: none;
    }
    .body {
        color: rgb(0, 119, 255);
    }
    .add {
        color: rgb(0, 119, 255);
    }
    .cancel, a {
        color: black;
        text-decoration: none;
    }
}

