<div class="content-panel panel-default">
    <img src="assets/images/e.svg" alt="">
    <br />
  <hr>
    <a
        href="" 
        class="btn" 
        [routerLink]="['../episode/new']">
          Create a New Episode
    </a>
  <div *ngIf="episodes$ | async as episodes; else loading;">
    <div class="message" *ngIf="!episodes.length">
      Nothing here
    </div>
    <app-list-group *ngFor="let episode of episodes" [item]="episode">
    </app-list-group>
    <!-- <app-list-item *ngFor="let episode of episodes" [item]="episode" (remove)="removeEpisode($event)">
    </app-list-item> -->
  </div>
  <ng-template #loading>
    <span class="loader"></span>

  </ng-template>
</div>

