<div class="episode content-panel">
    <img src="assets/images/e.svg" alt="">
    <br />
    <hr>
    <a 
      href="" 
      class="btn" 
      [routerLink]="['../episode/new']">
        Create a New Episode
    </a>
  <div *ngIf="episodes$ | async as episodes; else loading;">
      {{ episode.title ? 'Edit' : 'Create' }} Episode

    <!-- <div class="message" *ngIf="!episodes.length">
      Nothing here
    </div> -->
    <br />
    <div class="episode-form__delete">
      <div *ngIf="toggledContent">
        <button class="button button--delete" type="button" (click)="toggleContent()" *ngIf="toggledContent">
          Edit Episode
        </button>
        <app-list-item *ngFor="let episode of episodes" [item]="episode">
        </app-list-item>
      </div>
      <div *ngIf="!toggledContent">
        <button class="cancel" type="button" (click)="toggleContent()">Read Only</button>
        <app-episode-form [episode]="episode" (create)="addEpisode($event)" (update)="updateEpisode($event)" (remove)="removeEpisode($event)">
        </app-episode-form>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  loading
</ng-template>

