<div class="content-panel panel-default">


  <p>
    TRAVERSEY CMS https://www.youtube.com/watch?v=pXbEcGUtHgo
    Welcome to my site. 
  </p>
    <p>
    My original idea was to post some screenplays and a few short stories on here, but after I completed a novel based on Star Citizen 
    at the beginning of 2017, I was faced with the daunting task of rewriting it, fixing
    plot holes, and reorganizing chapters. I just didn't feel like I had the spare time to properly focus on a rewrite. 
    so I decided to work on my website and start posting content there.
    </p>
    <p>
      The rabbit hole was a lot deeper than I thought. While I could have made a static site I wanted to come up with something
      a bit more complex. I started with Angular since that was what I was studying. 
    </p>
    <p>
      Now nearly a year on from the novel I think I have something fuctional enough to put online. The first story about Danica Star
      was born from a short story idea based on the encounter of a UEE pilot with a journalist in deep space. I have five chapters 
      so far that I'll post as a serial and hopefully get back to writing more instead of banging my head against the Angular wall.
    </p>
    <p>
      I also have a political thriller of sorts and a couple of other ideas. Once I figure out the CSS I'll put up some short screenplays.
    </p>

</div>
