<div class="content-panel panel-default">

    <hr>
        <a 
        href="" 
        class="btn"
        [routerLink]="['../blog/new']">
        New??
        </a>
        <div *ngIf="blogs$ | async as blogs; else loading;">
            <div class="message" *ngIf="!blogs.length">
                Nothing here
            </div>

            <app-list-item 
                *ngFor="let blog of blogs"
                [item]="blog"
                (remove)="removeBlog($event)">
            
            </app-list-item>
        </div>
        <ng-template #loading>
            <span class="loader"></span>

        </ng-template>
</div>
